footer {
    @include grid-template-set(1);
    background-color: $gris-sombre;
    text-align: center;
    color: $txt-fond-sombre;
    padding-left: 1em;


    @media screen and (max-width: $mobile) {
        text-align: left;
        padding-left: 1em;
    }

    & h2 {
        padding: 0.5em 0 0.5em 0;
    }

    & ul {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & li {
            border-bottom: solid 1px transparent;
        }

        @media screen and (max-width: $tablette) {
            flex-direction: row;
        }

        @media screen and (max-width: $mobile) {
            flex-direction: column;
            justify-content: space-around;
            gap: 5px;
        }

        & a {
            color: $txt-fond-sombre;

            &:hover {
                border-bottom: solid 2px white;
            }

            & i {
                padding-right: 0.5em;

            }

        }
    }
}